{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div id="login-form">
      <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% for field in form %}
          <br>
          <label>{{ field.label }}</label>
          {{ field }}
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}"/><br>
        <input id="login-button" class="btn btn-primary" type="submit" value="login"/>
      </form>
      <br>

      <!--error handling-->
      {% if form.errors %}
        {% for error in form.non_field_errors %}
          <div data-level="error">
            {{ error }}
          </div>
        {% endfor %}

        {% for field in form %}
          {% if field.errors %}
            <div data-level="error">
              {% for error in field.errors %}
                {{ field.label }}: {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
