<!--this will be unhidden in javascript is enaled-->
<div id="javascript-filters" style="display:none;">
  <ul class="nav nav-tabs">
    <li class="active" id="filter-all">
      <a href="#" data-toggle="tab">
        All <span id="filter-all-count"></span>
      </a>
    </li>
    <li id="filter-available">
      <a href="#" data-toggle="tab">
        Available <span id="filter-available-count"></span>
      </a>
    </li>
    <li id="filter-redirect">
      <a href="#" data-toggle="tab">
        Redirect <span id="filter-redirect-count"></span>
      </a>
    </li>
    <li id="filter-unavailable">
      <a href="#" data-toggle="tab">
        Unavailable <span id="filter-unavailable-count"></span>
      </a>
    </li>
  </ul>
</div>