{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">

  <!--Present Form-->
    <form method="post" action="/citations/verify/{{ citation.id }}">
      {% csrf_token %}
      <input type="hidden" name="citation_id" value="{{ citation.id }}"/>

      <article>
        <p>
          <strong>Status:</strong>
          <span class="status-{{ citation.status }}">
            {{ citation.status }}
          </span>
        </p>
        <p>
          <strong>Opinion:</strong>
          <a href="{{ citation.opinion.pdf_url }}" target="_blank">{{ citation.opinion.name }}</a>
        </p>
        <p>
          <strong>Scraped Citation:</strong>
          <a id="verify-form-scraped-citations" href="{{ citation.scraped }}" target="_blank">{{ citation.scraped }}</a>
        </p>

        <div class="verify-form-info">
          <label for="id_validated">
            Validated Citation:
          </label>
          {{ form.validated }}
        </div>

        <div class="verify-form-info">
          <label for="id_scrape_evaluation">
            Scrape Evaluation:
          </label>
          {{ form.scrape_evaluation }}
        </div>

        <footer>
          <input type="submit" value="Verify"/>
          <article id="loading" aria-busy="true" style="display:none">
            Checking status of validated citation, please be patient...
          </article>
        </footer>
      </article>
    </form>

    <!--Report Form Errors-->
    {% if form.errors %}
      <br>
      {% for field in form %}
        {% if field.errors %}
          <div data-level="error">
            {% for error in field.errors %}
              {{ field.label }}: {{ error }}
              {% if not forloop.last %}
                <br>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}


{% block javascript_bottom %}
  <script src="{% static 'js/verify.js' %}"></script>
{% endblock %}