#flash-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}
.flash-dissolve {
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border: 1px solid var(--primary-border);
  position: fixed;
  top: 60;
  width: 100%;
  left: 0;
  z-index: 3000;
}

.bold-text {
  font-weight: bold;
}

.button-verify {
  padding: 2px 10px;
  font-size: 0.8rem;
  width: 100%;
}

.chart {
  margin: auto;
}

.status-a {
  color: #C4D600;
}
.status-u {
  color: #EA7600;
}
.status-r {
  color: #FDB515;
}
.status-x {
  color: #B0C5CC;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

article,
figure {
    overflow: visible !important;
}
table.sticky-header thead th {
    position: sticky;
    top: 0;
    z-index: 10;

    /* Ensure the header has a solid background to cover scrolling rows */
    background-color: var(--card-background-color) !important;

    /* Visual depth */
    border-bottom: 2px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
table.sticky-header {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}
table.sticky-header th,
table.sticky-header td {
    border-bottom: var(--border-width) solid var(--border-color);
}

/** OVERVIEW TEMP*/
#scotusCarousel .item {
  height: 400px; font-family: 'Special Elite';
  font-size: 36px;
}
#scotusCarousel .item .quote {
  font-size: 96px;
  position: absolute;
}
#sl1 p.footnote {
  font-size: 14px;
  border-top: 1px solid #333;
  padding-top: 1em;
}
#sl1 p.footnote span.number {
  margin: 0 2em;
  position: relative;
  top: -3px;
}
#scotusCarousel #sl2 {
  font-size: 30px;
}
#scotusCarousel .carousel-indicators li {
  border: 1px solid #ccc;
}

#about {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
#about h2 {
  font-size: 48px; margin-top: 2em;
  margin-bottom: 0.5em;
}





@media screen and (min-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
