body {
  padding-top: 100px;
  padding-bottom: 20px;
}
nav {
  padding-top: 10px;
}
.footer {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 19px;
  color: #ccc;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
footer {
  margin-top: 80px;
}
#memento-logo {
  height: 30px;
  width: 30px;
}
#perma-logo {
  height: 10px;
  width: 17px;
}
#webcite-logo {
  height: 14px;
  width: 14px;
}
#scotus-seal {
  position: relative;
  top: -6px;
}
#data-text {
  float: left;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
#data-text h2 {
  font-size: 48px; margin-top: 2em;
  margin-bottom: 0.5em;
}
#rot_distribution {
  float: right;
  height: 300px;
}
#login-form {
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
}
#download-data {
  margin-top: 20px;
}
.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
input#id_validated {
  width: 1000px;
}
.js-disabled,
.load-wheel {
  font-style: italic;
  font-size:10px;
}
td.centered {
  text-align: center;
}
.label-as-badge {
    border-radius: 1em;
}
.status-a {
    background-color: #90ed7d;
}
.status-r {
    background-color: #f7a35c;
}
.status-u {
    background-color: #434348;
}
.flash-dissolve {
  position: fixed;
  top: 60;
  width: 100%;
  left: 0;
  z-index: 3000;
}
table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #fff;
}