<!--this will be unhidden in javascript is enaled-->
<div id="javascript-filters" style="display:none;">
    <ul class="nav nav-tabs">
        <li class="active" id="filter-all">
            <a href="#" data-toggle="tab">
                All <span id="filter-all-count"></span>
            </a>
        </li>
        <li id="filter-citations">
            <a href="#" data-toggle="tab">
                With Citations <span id="filter-citations-count"></span>
            </a>
        </li>
        <li id="filter-revisions">
            <a href="#" data-toggle="tab">
                Revisions <span id="filter-revisions-count"></span>
            </a>
        </li>
    </ul>
</div>