{% extends "base.html" %}

{% block content %}
    <br>
    <table class="table table-striped">
       <thead>
         <tr>
           <th>Opinion</th>
           <th>Justice</th>
           <th>Published</th>
           <th>Updated</th>
           <th>Web Citations</th>
         </tr>
       </thead>
       <tbody>
       {% for opinion in opinions %}
       <tr>
         <td><a href="{{ opinion.pdf_url }}" target="_blank">{{ opinion.name }}</a></td>
         <td>{{ opinion.justice.name }}</td>
         <td>{{ opinion.published }}</td>
         <td>{% if opinion.updated %}{{ opinion.updated_date }}{% endif %}</td>
         <td>
           {% if opinion.citation_count %}
             <a href="/citations/{{ opinion.id  }}" title="view opinion citations">
               <span class="label label-info label-as-badge">
                 {{ opinion.citation_count }}
               </span>
             </a>
           {% else %}
             <span class="label label-default label-as-badge">
               {{ opinion.citation_count }}
             </span>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
      </tbody>
    </table>
{% endblock %}
