<script>
  Highcharts.chart('citation_distribution', {
    chart: {
      type: 'line',
      height: 520,
    },
    title: {
      text: null, // 'text: ' is deprecated in favor of null
    },
    credits: {
      enabled: false,
    },
    xAxis: {
      type: 'datetime',
      title: {
        text: null,
      },
      plotLines: [{
        color: '#F206FF',
        dashStyle: 'Dot', // Case sensitive in some versions, 'Dot' is standard
        value: {{ go_live_date }},
        width: 2,
        zIndex: 5, // Ensures the line sits above the series
        label: {
          text: '<strong>Web Citation Discovery Begins</strong>',
          useHTML: true, // Required for <strong> tags
          style: {
            color: 'purple',
            fontSize: '18px',
          }
        },
      }],
    },
    yAxis: {
      min: 0,
      maxPadding: 0,
      title: {
        text: null
      },
    },
    series: [
      {
        color: '#7cb5ec',
        name: 'Web Citations',
        data: {{ citation_distribution }},
      },
      {
        color: '#f45b5b',
        name: 'Opinions',
        data: {{ opinion_distribution }},
      }
    ]
  });
</script>