{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="https://code.highcharts.com/12/highcharts.js"></script>
<script src="{% static 'js/data.js' %}"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<section>
  <div id="citation_distribution"></div>
</section>

<main class="container">
  <section>
    <div class="grid">

      <noscript>
        <article style="background-color: var(--pico-form-element-invalid-active-border-color); color: white; text-align: center;">
          Please enable javascript in your browser to view our distribution charts
        </article>
      </noscript>

      <div id="data-text" style="flex: 0 0 75%; margin-top: 100px">
        <h2>Analyzing Our Data</h2>
        <p>
          Our primary goal is to archive critical web citations
          for posterity's sake. Above is a graph of the distribution of opinion
          publications and web citations over time. The gauge to the right represents
          the availability of web citations as we discover them. These are simple
          examples, and the rest is up to you! Download a csv dump of our data set
          and keep us posted on the interesting things that you do with it!
        </p>
        <p>
          <button title="Analyze Our Data" onclick="location.href='/csv'" class="outline">Download</button>
        </p>
      </div>

      <div style="flex: 1; text-align: right;">
        <div id="rot_distribution"></div>
      </div>

    </div>
  </section>
</main>
{% endblock %}

{% block javascript_bottom %}
  {% include "charts/distribution.html" %}
  {% include "charts/linkrot.html" %}
{% endblock %}
