{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/grid-light.js' %}"></script>
{% endblock %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Special+Elite' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="citation_distribution" class="chart"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <noscript>
      <div class="alert alert-warning text-center" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Please enable javascript in your broswer to experience full site features
      </div>
    </noscript>
    <div id="data-text">
      <div id="rot_distribution" class="chart"></div>
      <h2>Analyzing Our Data</h2>
      <p>
        The primary goal of this project is archiving critical web citations
        for prosperity's sake. Above is a graph of the distribution of opinion
        publications and web citations over time. The gauge to the right represents
        the availability of web citations as we discover them. But the sky is the
        limit, and the rest is up to you! Download a csv dump of our database
        and keep us posted on the interesting things that you do with it!
      </p>
      <p><a id="download-data" href="/csv" class="btn btn-primary" title="Analyze Our Data">Download Data</a></p>
    </div>
    {% include "charts/distribution.html" %}
    {% include "charts/linkrot.html" %}
  </div>
</div>
{% endblock %}
