{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}{% endblock %}

{% block css %}
    <link href="{% static 'css/overview.css' %}" media="all" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Special+Elite' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <!--CAROUSEL SLIDER-->
    <div class="carousel slide" data-ride="carousel" id="scotusCarousel">
        <ol class="carousel-indicators">
            <li data-target="#scotusCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#scotusCarousel" data-slide-to="1"></li>
            <li data-target="#scotusCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active" id="sl1">
                <p>
                    When a judicial opinion <strong>cites</strong> something from the web, researchers
                    should be able to <strong>check it</strong> later and find <strong>exactly</strong>
                    what it looked like when it was cited.<sup>1</sup>
                </p>
                <p class="footnote">
                    <span class="number">1</span><a href="http://scotus.law.berkeley.edu">http://scotus.law.berkeley.edu</a>
                </p>
            </div>
            <div class="item" id="sl2">
                Unfortunately, legal publication hasn't fully moved into the <strong>age of the web</strong>,
                so these web citations are prone to <strong>"rot."</strong> That is, what a researcher may
                find (if anything) when they check that URL may not be the same as it was when it was first
                consulted by the judge or clerk.
            </div>
            <div class="item">
                scotus.law.berkeley.edu captures a <strong>snapshot</strong> of any webpage cited by the
                US Supreme Court as soon as possible after the court opinion is issued.
            </div>
        </div>
    </div>

    <!--TEXT-->
    <div class="row" id="about">
        <div class="col-lg-12">
            <p>
                Courts cite the web, and the web is always changing. In the time between the moment
                when a website was cited and the time an opinion is published, information on that
                website can disappear or change subtly... or substantially.
            </p>
			<p>
                This obscures and dilutes the value of citations to web resources in court documents.
                Over time, these unarchived resources are exposed ever more to the vagaries of the
                web&mdash;site reorganizations, domain-name lapses, etc. The citations become useless
                or increasingly suspect.
            </p>
            <p>
                SCOTUS has begun to address this matter, but at present offers only PDFs made from
                printouts of webpages, and does so only weeks or months after the citing opinion was
                published.
            </p>

            <h2>A Stopgap Measure</h2>
            <p>
                Our system determines in near real-time when the Court publishes an opinion and promptly
                takes snapshots of the web pages it cites.
            </p>
            <p>
                Though it's possible the web page has changed in the time between citation and publication
                of the opinion, this process catches the resource at the freshest possible moment.
            </p>

            <h2>A Long-Term Solution</h2>
            <p>
                As legal publishing evolves over time, we expect judges, clerks and others to use services
                like Harvard's <a href="http://perma.cc">perma.cc</a> to create an archive of any web
                resource they cite and provide links to it as well.
            </p>

            <h2>How does this work?</h2>
            <ol>
                <li>
                    our application watches the
                    <a href="https://www.supremecourt.gov/">Supreme Court website</a> for new opinions
                </li>
				<li>
                    when it sees one, it downloads it and converts it from a PDF to text
                </li>
				<li>
                    it looks for web citations in the text, then passes any it finds to a human on our
                    team for evaluation
                </li>
				<li>
                    if the resource is findable online when the human validates the URL, the application
                    archives it using perma.cc's API
                </li>
				<li>
                    users can browse <a href="#">opinions</a>, <a href="#">justices</a> or the master
                    list of <a href="#">citations</a> found in the opinions
                </li>
				<li>
                    notifications go out to subscribers whenever citations are harvested from new
                    opinions
                </li>
			</ol>

            <h2>Subscribe</h2>
            <form class="navbar-form navbar-left" method="post" action="/signup">
                {% csrf_token %}
                <p>
                    for updates
                    <input type="text" class="form-control" name="email" placeholder="email@domain.com">
                    <button type="submit" class="btn btn-primary" title="Get Email Notifications When New Data Is Discovered">
                        Subscribe
                    </button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript_bottom %}
    <script>
        $('#scotusCarousel').carousel({ interval: 11000 });
    </script>
{% endblock %}
