{% extends "base.html" %}

{% block content %}
    <div id="citation_distribution" class="chart"></div>
    <div id="overview">
      <div id="rot_distribution" class="chart"></div>

      <h2>United States Supreme Court Web Citations</h2>

      <p>
        In September of 2013 the <i>New York Times</i> announced that 49% of web citations published
        in United States Supreme Court opinions point to resources that are no longer accessible
        via the cited URI.<sup><a href="{{ cite_nyt  }}" target="_blank">1</a></sup> This phenomenon is known as
        <i>link rot</i> and it occurs when web content is either moved on, or removed from, its hosting
        server, at which point all links referancing the content's original URI location immediately
        break.<sup><a href="{{ cite_wiki }}" target="blank">2</a></sup> Consequently, an attempt to visit such a link
        results in the familiar <i>Page not found</i> 404 error.
      </p>

      <p>
        The <i>New York Times</i> article draws upon Harvard University's research into the validity
        of legal citations in both Harvard Law Review publications and U.S. Supreme Court
        opinions.<sup><a href="{{ cite_harvard }}" target="blank">3</a></sup>  The two data sets yeilded 
        discouragingly high percentages of link rot in their respective citations.  In response to
        these findings, and the general tendency for link rot to expand over time as content
        is eventually removed from or moved within the web, Harvard created
        <a href="{{ cite_perma }}" target="blank">Perma.cc</a> as a means of mitigating the issue in academic
        and legal publications.
      </p>

      <p>
        In additiona to link rot, web citations may suffer a related form of degeneration known as
        <i>reference rot</i>, whereby a cited URI remains active while the content to which it refers
        shifts over time.<sup><a href="{{ cite_aba }} target="blank"">4</a></sup>  While machanisms like Harvard's
        Perma.cc project offer solutions to these shortcoming of referncial web citations, they are
        new technologies designed to address an historically new problem.  Until a new standard is
        set and adopted by the wider academic community, the issues of link rot and referance rot will
        continue to erode the foundation of modern academic and legal research.
      </p> 

      <p>
        This reality demonstrates the need for active preservation of known and future web citations
        that follow the traditional structure of providing a simple URI link without an archival
        qaulity perma-link or handle to maintain long term accessibility.  One proactive approach is
        to monitor major academic and legal publications for new web citations and, upon discovery of
        a new citation, crawl the referenced content with an archival quality web crawler such as
        <a href="{{ cite_heritrix }}" target="blank">Heritrix</a>.  As content can change or disappear rapidly,
        the effectiveness of this wholesale approach hinges on our ability to harvest resources in rapid
        succession after their original publication. 
      </p>

      <p>
        This project aims to facilitate this process for opinions published to the
        <a href="{{ cite_scotus }}" target="blank">Supreme Court website</a>.  When a new opinion is published,
        this application will download the opinion and log its associated meta-data.  The application
        will then convert each opinion PDF into plain-text, which it then parses and searches for web
        citations.  That the opinions are initially published in PDF format presents
        challenges, as some citations span over multiple lines and/or pages, which makes uniform and
        flawless discovery of web citation strings extremely difficult.  To combat this obstacle, each
        citation must be validated by a human before being sent to the Library of Congress' in-house
        instance of Heritrix for harvesting.
        Upon discovery, all new citations are logged in the database and presented via the application's citation
        <a href="citations/">interface</a>.  If the application discovers valid web archive captures of a citation
        in the <a href="http://timetravel.mementoweb.org/about/">Memento project</a> timegate, the "Archives" column will
        display a link off to the Memento results relative to the source opinion's published date.
      </p>

      <p>
        If you have JavaScript enabled in your browser, you will see chart at the top of this page
        that outlines the distribution of web citations in Supreme Court opinions over time.  Additionally,
        the gauge below that line chart provides a dynamic overview of the link rot that has affected
        the known supreme court web citations. Our data is freely available in csv format via the
        <a href="csv">Download Data</a> link at the top of the page.  The code for this applications
        is also free available on <a href="{{ cite_github }}" target="blank">GitHub</a>. 
      </p>
    </div>

    <!--Load Highcharts-->
    <script src="/static/js/highcharts.js"></script>
    <script>
        // Build Citation Distribution Chart
        $('#citation_distribution').highcharts({
            title: {
                text: '',
            },
            chart: {
                type: 'line',
                height: 400,
            },
            credits: {
                enabled: false,
            },
            xAxis: {
                type: 'datetime',
                min: {{ earliest }},
                max: {{ latest }},
                title: {
                    text: '',
                },
                plotLines: [{
                    color: '#F206FF',
                    dashStyle: 'dot',
                    value: {{ nyt_publication }},
                    width: 2,
                    label: {
                        text: '<a href="{{ cite_nyt }}">NYT Publication</a>',
                    },
                }],
            },
            yAxis: {
                title: {
                    text: ''
                },
            },
            series: [{
                name: 'Web Citations',
                data: {{ citation_distribution }},
            }]
        });

        // Build Link Rot Chart
        Highcharts.setOptions(
            {
                colors: [
                    '#90ed7d',
                    '#f7a35c',
                    '#434348',
                ]
            }
        );
        $('#rot_distribution').highcharts({
            title: {
                text: 'Citation<br>Link Rot',
                align: 'center',
                verticalAlign: 'middle',
                y: 50,
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                height: 400,
                width:400,
            },
            credits: {
                enabled: false,
            },
            plotOptions: {
                 pie: {
                     startAngle: -90,
                     endAngle: 90,
                     center: ['50%', '75%'],
                     dataLabels: {
                         enabled: true,
                         distance: -50,
                         style: {
                             fontWeight: 'bold',
                             color: 'white',
                             textShadow: '0px 1px 2px black',
                         },
                     },
                 }
            },
            series: [{
                type: 'pie',
                name: 'Web Citations',
                innerSize: '50%',
                data: [
                  ['<a href="{{ base }}citations/available">available</a>', {{ available }}],
                  ['<a href="{{ base }}citations/redirect">redirect</a>', {{ redirected }}],
                  ['<a href="{{ base }}citations/unavailable">unavailable</a>', {{ unavailable }}],
                ],
            }],

        });
    </script>
{% endblock %}
