#!/bin/bash

## If you are using virtualenv, you can uncomment the 'source' line below and edit the path
## You will also need to customize the path in PYTHON_PATH
## You will want to rename this file 'discover.sh' and add it to your crontab

#source /home/user/.virtualenvs/scotuswebcites.io/bin/activate

DJANGO_SETTINGS_MODULE=scotus.settings
PYTHON_PATH="/home/user/scotuswebcites.io"
export DJANGO_SETTINGS_MODULE
export PYTHON_PATH

python $PYTHON_PATH/manage.py discover
