{% extends "base.html" %}
{% load static %}

{% block javascript %}
{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-striped sticky-header">
      <thead>
        <tr>
          <th>Justice</th>
          <th class="text-right"><small>Opinions</small></th>
          <th class="text-right"><small>WebCites</small></th>
          <th class="text-right"><small>Average</small></th>
        </tr>
      </thead>
      <tbody>
        {% for justice in justices %}
          <tr>
            <td>{{ justice.name }}</td>
            <td class="text-right">
              {% if justice.opinion_count %}
                <a href="/opinions/{{ justice.id  }}" title="view justice opinions">
                  {{ justice.opinion_count }}
                </a>
              {% else %}
                {{ justice.opinion_count }}
              {% endif %}
            </td>
            <td class="text-right">
              {% if justice.citation_count %}
                <a href="/citations/{{ justice.id  }}" title="view justice citations">
                  {{ justice.citation_count }}
                </a>
              {% else %}
                <span class="label label-default label-as-badge">{{ justice.citation_count  }}</span>
              {% endif %}
            </td>
            <td class="text-right">
              {{ justice.citation_average_count|floatformat:2 }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
