{% extends "base.html" %}

{% block content %}
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Justice</th>
          <th>Published Opinions</th>
          <th>Total Web Citations</th>
          <th>Avg. Web Citations Per Opinion</th>
        </tr>
      </thead>
      {% for justice in justices %}
      <tr>
        <td>{{ justice.name }}</td>
        <td>
          {% if justice.opinion_count %}
            <a href="/opinions/{{ justice.id  }}" title="view justice opinions">
              <span class="label label-info label-as-badge">
                {{ justice.opinion_count }}
              </span>
            </a>
          {% else %}
            <span class="label label-default label-as-badge">
              {{ justice.opinion_count }}
            </span>
          {% endif %}
        </td>
        <td>
          {% if justice.citation_count %}
            <a href="/citations/{{ justice.id  }}" title="view justice citations">
              <span class="label label-info label-as-badge">
                {{ justice.citation_count  }}
              </span>
            </a>
          {% else %}
            <span class="label label-default label-as-badge">
              {{ justice.citation_count  }}
            </span>
          {% endif %}
        </td>
        <td>
          {{ justice.average_count }}
        </td>
      </tr>
      {% endfor %}
      <tbody>
      </tbody>
    </table>
{% endblock %}
